body

	& > footer
		padding: 0 0 5px
		text-align: center
		color: $transwht
		background-color: $mdblack
		background-image: url('../i/sttv-border.jpg')
		background-size: 100% 5px
		background-position: bottom
		background-repeat: no-repeat

		&.row, &>.row
			margin-bottom: 0

		.footer-logo
			height: ($headerh - 20)
			width: auto
			display: block

			&.row
				margin-bottom: $small

			img
				height: 100%
				width: auto
		
		.site-tagline
			text-transform: uppercase
			display: block
			
			h5
				font-weight: 700

	#pre-footer-cta
		margin: 0
		color: white
		background-color: $azure

		#footer-subscribe-cta
			text-align: center
			margin-bottom: 0px
			padding: 1em
			width: 100%
			max-width: $bodyw
			margin: 0 auto

			a, h4
				display: inline-block
				height: 100%

			a
				color: $azure
				background-color: white
			
			h4
				margin: 0

	#stFooterTailights
		width: 100%
		background-color: $bodybg
		color: $ltblack
		text-align: left

		#stFooterTailightsInner
			width: 100%
			max-width: $bodyw
			margin: 0 auto
			font-size: $medium

			&>.col
				padding: 1em

			.stSocialBlock
				text-align: right
			
				.stSocialMenu
					display: block

					a.stSocialIcon
						opacity: .75
						transition: opacity .1s ease-in-out

						&:hover
							opacity: 1

						&:not(:last-of-type)
							margin-right: $large

						&.yt
							color: red

						&.fb
							color: #3B5998
						
						&.ig
							color: #833ab4

						&.tw
							color: #1DA1F2

						&.g\+
							color: #d34836
						
						&.at
							color: $sunrise

						i
							color: inherit

@include MQ($mq-mobile)
	body
		
		footer

			.site-social
				font-size: 1em