<div id="wrapper_line-item" class="col s12" style="text-align:left">
    <div id="processing_overlay"></div>
    <div class="card-content row">
        <h4 id="plan_title">Checkout</h4>
        <div class="col s12">
            <table id="totals_table" class="highlight responsive-table">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><div class="divider"></div></td>
                    </tr>
                    <tr>
                        <td id="coupon_cell">
                            <div class="input-field col s6">
                                <input id="coupon" data-type="coupon" data-error="Invalid coupon" name="coupon" type="text"/>
                                <label for="coupon">Coupon Code</label>
                            </div>
                        </td>
                        <td style="text-align:right">Total:</td>
                        <td style="text-align:right" id="signup_total_price"><span style="font-weight:bold"></span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col s12">
        	<fieldset id="course_options">
				<legend>Shipping Options</legend>
        		<div class="input-field col s12" style="margin-top:0px">
					<!--input class="filled-in" type="checkbox" name="sttv_no_trial" id="sttv_no_trial" checked/><label style="margin-top:1em" for="sttv_no_trial">Skip the trial period and start right away</label><br/-->
					<input class="filled-in" type="checkbox" name="digital_book" id="digital_book"/><label style="margin-top:1em;margin-bottom:1em" for="digital_book">I want Priority Shipping (3-4 days)((U.S. Only))</label><br/>
				</div>
			</fieldset>
		</div>
    </div>
    <div id="customer_info" class="row">
    	<div id="account_info" class="col s12">
        	<div class="row">
                <h4>Your Information</h4>
                <div class="input-field col s6">
                    <input type="text" class="validate" name="firstname" required/>
                    <label for="firstname">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="validate" name="lastname" required/>
                    <label for="lastname">Last Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" class="validate" data-type="email" name="email" type="email" required/>
                    <label data-error="Invalid email address" for="email">Email Address</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" required/>
                    <label for="password">Choose Password</label>
                </div>
            </div>
        </div>
        <div id="shipping_info" class="col s12">
        	<div class="row">
                <div class="col s12">
                    <h4 style="display:inline">Shipping Address</h4>
                </div>
                <div class="input-field col s12 m6">
                    <input id="shipping_address1" name="shipping_address1" type="text" class="validate" required/>
                    <label for="shipping_address1" data-error="Invalid format" >Address Line 1</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="shipping_address2" name="shipping_address2" type="text" />
                    <label for="shipping_address2">Address Line 2</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="shipping_city" class="validate" name="shipping_city" type="text" required/>
                    <label for="shipping_city">City</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="shipping_state" class="validate" name="shipping_state" type="text" required/>
                    <label for="shipping_state">State</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="shipping_pcode" class="validate" name="shipping_pcode" type="tel" required/>
                    <label for="shipping_pcode">Postal Code</label>
                </div>
                <div class="input-field col s6 m3">
                    <select class="country-dd browser-default validate" name="shipping_country" required>
                        <option value disabled selected>Country...</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="billing_info" class="col s12">
        	<div id="billing_fields" class="row">
                <div class="col s12 m6">
                    <h4 style="display:inline">Billing Address</h4>
                </div>
                <div class="col s12 m6">
                	<input class="filled-in" type="checkbox" id="same_shipping" /><label style="margin-top:1em" for="same_shipping">Same as shipping</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="billing_address1" name="billing_address1" type="text" class="validate" required/>
                    <label class="active" for="billing_address1" data-error="Invalid format" >Address Line 1</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="billing_address2" name="billing_address2" type="text" />
                    <label class="active" for="billing_address2">Address Line 2</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="billing_city" name="billing_city" type="text" required/>
                    <label class="active" for="billing_city">City</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="billing_state" name="billing_state" type="text" required/>
                    <label class="active" for="billing_state">State</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="billing_pcode" data-type="zip" name="billing_pcode" type="tel" required/>
                    <label class="active" for="billing_pcode">Postal Code</label>
                </div>
                <div class="input-field col s6 m3">
                    <select class="country-dd browser-default" name="billing_country" required>
                        <option value disabled selected>Country...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content row">
        <h4>Payment</h4>
        <div class="input-field col s12">
        	<input name="sttv_cardname" type="text" required/>
            <label class="active" for="cardname">Name On Card</label>
        </div>
        <div class="col s12">
            <div id="sttv_card_element"></div>
            <p class="success"></p>
            <p class="error token"></p>
        </div>
        <div class="col s12">
			<div class="input-field col s12" style="margin-top:0px">
				<input class="filled-in" type="checkbox" name="sttv_mailinglist" id="sttv_mailinglist" checked/><label style="margin-top:1em" for="sttv_mailinglist">Sign me up for future discounts, coupons, and giveaways from SupertutorTV</label><br/>
				<input class="filled-in" type="checkbox" name="t_and_c" id="t_and_c" /><label style="margin-top:1em;margin-bottom:1em" for="t_and_c">I have read the Terms and Conditions (required)</label>
			</div>
		</div>
    	<div class="col s12">
    		<button type="submit" class="signup-submit button-wide z-depth-1 waves-effect waves-light" disabled><span></span></button>
		</div>
     </div>
 </div>
 <script>
	 $.get('https://gist.githubusercontent.com/enlightenedpie/888ba7972fa617579c374e951bd7eab9/raw/b987e55ddc4cde75f50298559e3a173a132657af/gistfile1.txt', function(data) {
		 $('.country-dd').append(data);
	}, 'html');
 
 
 	var stripe = Stripe(stajax.stripe.public_key);
	var elements = stripe.elements();
	var card = elements.create('card',{
		hidePostalCode: true
	});
	card.mount('#sttv_card_element');
	
	card.on('change', function(event) {
		fsub.setOutcome(event);
	});
	
	$('[name=email],[name=billing_pcode],input[name=coupon]').blur(function(e) {
		e.preventDefault();
		var t = $(this);
		t.removeClass('valid invalid');
		
		if (!t.val()) {
			if (t.is('input[name=coupon]')) {
				plan.disc = plan.discp = 0;
			} else if (t.is('input[name=billing_pcode]')) {
				plan.tax = 0;
			}
			price_updater();
			return;
		}
		
		setTimeout( function() {
			_st.request({
				route : stajax.rest.url+'/checkout?'+t.attr('data-type')+'='+t.val(),
				method : 'GET',
				headers : {
					'X-WP-Nonce' : stajax.rest.nonce,
				},
				success : function(r) {
					switch (r.code) {
						case 'coupon_invalid' :
							plan.disc = plan.discp = 0;
							t.addClass('invalid')
							t.siblings('label').attr({'data-error':r.message});
							break;
						case 'coupon_valid' :
							t.addClass('valid')
							plan.coupon = r.id
							if (r.percent_off) {
								plan.disc = 0;
								plan.discp = r.percent_off;
								var msg = String(r.percent_off)+'% off';
							} else if (r.amount_off) {
								plan.discp = 0;
								plan.disc = r.amount_off;
								var msg = '$'+String(r.amount_off/100)+' off';
							}
							t.siblings('label').attr({'data-success':msg});
							break;
						case 'email_taken' :
							t.addClass('invalid')
							t.siblings('label').attr({'data-error':r.message})
						case 'email_available' :
							t.addClass('valid')
							t.siblings('label').attr({'data-success':r.message})
							break;
						case 'email_current_user' :
							t.addClass('valid')
							t.siblings('label').attr({'data-success':''})
							break;
						case 'checkout_tax' :
							plan.tax = r.tax;
							break;
					}
					price_updater();
				},
				error : function(err){
					console.log(err)
				}
			})
		},1);
		
	});
	 $('#t_and_c, #digital_book').change(function() {
		 var disb = $(this).is(":checked");
		 var valID = (disb && fsub.valid);
			 $('.signup-submit').prop('disabled',!valID);
		 
		 if ($(this).is('#digital_book')) {
			 price_updater();
		 }
		 
	 });
	 $('select[name=shipping_country]').one('change',function() {
		 fsub.shipWasChecked = $('#digital_book').is(":checked");
	 });
	 $('select[name=shipping_country]').change(function(){
		 var shipUS = $(this).val();
			 
		 if (!shipUS || shipUS !== 'US') {
			 $('#digital_book').prop('checked',false)
			 $('#digital_book').prop('disabled',true)
		 } else {
			 $('#digital_book').prop('checked',fsub.shipWasChecked)
			 $('#digital_book').prop('disabled',false)
		 }
		 price_updater();
	 });
	$('#same_shipping').change(function() {
		if ($(this).is(":checked")) {
			
			$('input[name=billing_address1]').val($('input[name=shipping_address1]').val());
			$('input[name=billing_address2]').val($('input[name=shipping_address2]').val());
			$('input[name=billing_city]').val($('input[name=shipping_city]').val());
			$('input[name=billing_state]').val($('input[name=shipping_state]').val());
			$('input[name=billing_pcode]').val($('input[name=shipping_pcode]').val());
			$('select[name=billing_country]').val($('select[name=shipping_country]').val());
			
			Materialize.updateTextFields();

		} else {
			$("#billing_fields :input").each(function(){
				$(this).val('');
			});
			$("select[name=billing_country]").prop("selectedIndex", -1);
		}
		$('input[name=billing_pcode]').blur();
	});
	
	$('.signup-submit').click(function(e) {
		e.preventDefault();
		var cEr = true;
		
		var sInputs = $('input, select','#wrapper_line-item');
		sInputs.each(function(k,v) {
			var msgTag = '';
			if ( $(this).is(':required') && (!$(this).val() || $(this).hasClass('invalid')) ) {
				var msgTag = (!$(this).val()) ? ' is required' : ' is invalid'
				cEr = false
			} else if ( $(this).hasClass('invalid') ) {
				var msgTag = ' is invalid'
				cEr = false
			}
			$('.error','#wrapper_line-item').html('&otimes; '+$(v).siblings('label').text()+msgTag);
			if (!cEr) {return cEr}
		});
		if (!cEr) {return cEr}
		
		// show 'processing' modal
		cModal.css('overflow','hidden');
		cModal.animate({
			scrollTop: 0
		}, 1);
		
		var cmOver = $('#checkout_modal_overlay')
		cmOver.fadeIn(100,function() {
			$(this).prepend('<h2 style="margin-top:3em">VERIFYING CARD...</h2>');
			$('span',this).text('This could take a minute if you have a slow connection.');
		});
		//end show modal
		
		var data = {
			first_name : $('input[name=firstname]').val(),
			last_name : $('input[name=lastname]').val(),
			email : $('input[name=email]').val(),
			password : $('input[name=password]').val(),
			billing : {
				name: $('input[name=cardname]').val(),
				address_line1: $('input[name=billing_address1]').val(),
				address_line2: $('input[name=billing_address2]').val(),
				address_city: $('input[name=billing_city]').val(),
				address_state: $('input[name=billing_state]').val(),
				address_zip: $('input[name=billing_pcode]').val(),
				address_country: $('select[name=billing_country]').val()
			},
			shipping : {
				line1: $('input[name=billing_address1]').val(),
				line2: $('input[name=billing_address2]').val(),
				city: $('input[name=billing_city]').val(),
				state: $('input[name=billing_state]').val(),
				postal_code: $('input[name=billing_pcode]').val(),
				country: $('select[name=billing_country]').val()
			},
			items : [
				{
					id : plan.ID,
					trialing : false,
					priority : $('#digital_book').is(":checked"),
				}
			],
			coupon : $('input[name=coupon]').val()
		};
		  
		stripe.createToken(card, data.billing).then(function(result){
			$('h2',cmOver).text('PROCESSING...')
			data.token = result.token;
			data.totals_table = $('#totals_table').wrap('<div/>').parent().html();
			var action = {};

			_st.request({
				route : stajax.rest.url+'/checkout',
				method : 'POST',
				cdata : data,
				headers : {
					'X-WP-Nonce' : stajax.rest.nonce,
				},
				success : function(d) {
					$('h2',cmOver).text('AWAITING RESPONSE...')
						setTimeout(function(){
							cmOver.empty();
							cmOver.append('<div id="modal_results"><div id="sttv-emotee" class="s-success"></div><br/><h2 class="olive">Success!</h2><small>You will be redirected shortly</small><br/>');
						},2000);

					gtag_report_conversion()
					setTimeout(function(){
						//window.location.replace('/my-account')
					},5000);
					console.log(d)
				},
				error : function(err) {
					var resp = err[0].responseJSON

					cmOver.empty();
					cmOver.append('<div id="modal_results"><div id="sttv-emotee"></div><br/><h2 class="red-text text-darken-3">Error</h2><small>'+resp.message+'</small><br/><small>err: '+resp.code+'</small>');

					setTimeout(function() {
						cmOver.fadeOut(500,function(){
							$(this).empty();
							$(this).prepend('<img src="'+stajax.contentURL+'/i/sttv-spinner.gif"/><span></span>');
						});
						cModal.css('overflow','auto');		
					},10000);
					console.log(err)
				}
			})
			  
		});
		  
	});
	price_updater();
 </script>