header#checkoutheader
	+wfull
	height: $headerh
	position: relative
	top: 0

h4#plan_title
	font-weight: 700
	text-transform: uppercase
	text-align: center
	margin-top: $tiny
	margin-bottom: 1em

#checkout_modal
	min-height: 10em
	width: 40%
	text-align: center
	padding: 1em

	.modal-content
		position: relative
		padding-top: 0px