body.page-template-checkout
	background: -moz-linear-gradient(left, $bodybg 51%, $azure 51%)
	background: -webkit-linear-gradient(left, $bodybg 51%, $azure 51%)
	background: linear-gradient(to right, $bodybg 51%, $azure 51%)

	#main-wrapper
		background: 0

#checkout-left, #checkout-right
	height: 100%

#checkout-left
	background: $bodybg

	header#checkoutheader
		+wfull
		height: $headerh
		position: relative
		top: 0

		#checkout-logo-box
			padding-top: 1em
			width: 100%
			height: $huge
			text-align: center

			img
				display: inline
				width: auto
				height: 100%

			h3
				font-weight: 700
				text-transform: uppercase
				padding: 0 0 0 $tiny
				margin: 0
				display: inline

#checkout-right
	color: white
	background-color: $smazure
	border-left: 2px solid $smblack
	overflow: hidden

#checkout_modal
	min-height: 10em
	width: 40%
	text-align: center
	padding: 1em

	.modal-content
		position: relative
		padding-top: 0px

		label
			width: 100%