#stFWContent

    #stFWContentInner
        padding: 1em
        @include centerblock

#stFWStripped
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    #stFWStrippedInner
        position: relative
        top: 50%
        transform: translateY(-50%)
        width: 100%
        max-width: $bodyw * .75
        margin: 2em auto 0