body.stBody
    
    .stBlock
        margin: 0 auto
        width: 100%
        max-width: $bodyw
        padding: 0

        a
            color: azure(.8)
            transition: color .1s ease-in-out

            &:hover
                color: black(.6)