#subscribe_page_form
	background-color : white
	padding : 1em 1em 0 1em
	margin-bottom : 3em
	text-align : center

	p.smessage, p.sblock
		text-align : center

		h1
			margin : 0

	h4
		margin : 0

	form
		position : relative
		padding : 1em

		.loading_overlay
			font-size : $small

		p
			margin : 0
		
		button
			+wfull
			padding : 1em