<form class="col s12" id="job_add_form" action="/">
    <div class="row">
        <div class="input-field col s6">
            <input name="title" placeholder="Title" />
        </div>
        <div class="input-field col s6">
            <input name="location" placeholder="Location" />
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input name="category" placeholder="Category" />
        </div>
        <div class="input-field col s6">
            <input name="job_type" placeholder="Job Type" />
        </div>
    </div>
    <a href="#!" class="add-job-submit btn">add job</a>
    <span class="job-add-error">error</span>
</form>