<div id="ratings-modal-wrapper">
	<header class="header center-align">
		<h2>Rate this course</h2>
	  <p>Rate us and leave a review* so <b>others</b> can see how this course has helped you!</p>
	</header>

	<section class='rating-widget'>
	  <div class='rating-stars center-align'>
		<ul id='stars'>
		  <li class='star' title='Poor' data-value='1'>
			<i class="mi material-icons">star</i>
		  </li>
		  <li class='star' title='Fair' data-value='2'>
			<i class="mi material-icons">star</i>
		  </li>
		  <li class='star' title='Good' data-value='3'>
			<i class="mi material-icons">star</i>
		  </li>
		  <li class='star' title='Excellent' data-value='4'>
			<i class="mi material-icons">star</i>
		  </li>
		  <li class='star' title='WOW!!!' data-value='5'>
			<i class="mi material-icons">star</i>
		  </li>
		</ul>
	  </div>
	  <div class="message-box">
		<textarea placeholder="Enter your review here." id="review-content"></textarea>
	  </div>
	  <p class="modal-error">&nbsp;</p>
	</section>
	<p><small>*Not to be confused with <b>feedback</b>, which is where you can make suggestions on improving the course or where you can report any issues.</small></p>
	<div class="ratings-submit-container center-align"><a class="ratings-submit-button btn" href="/"><strong>Post Your Review</strong></a></div>
</div>